@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: rgb(65, 63, 63);
}

div.logo{
    margin-top: 100px;
    text-align: center;
    position: relative;
}


div.logo img{
    width: 300px;
}

div.links{
    margin-top: 100px;
    text-align: center;
    font-size: 25px;
   
}

div.links a{

    color: white;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;

    background-color: #E50914;
    padding: 5px 10px;
    border-radius: 5px;
    
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.301);

    transition: 200ms;

}

div.links a:hover{
    background-color: rgb(179, 10, 18);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
}