{% extends "layout.njk" %}

{% block content %}
    
    <div class="logo">
        
        <img src="logo-nivekflix.png" alt="Logo do site">
    </div>
    
    <div class="links">
        <a href="/filmes">Entrar no NivekFlix</a>
    </div>


    <script src="/scripts.js"></script>

{%endblock%}
