{% extends "layout.njk" %}

{% block head %}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>ERRO - PAGINA NÃO ENCONTRADA</title>

{% endblock %}

{% block content %}

    <div id = "error-text">
        <h1>ERRO 404</h1>
         <p>PAGINA NÃO ENCONTRADA!</p>
         <span class="material-icons">
            sentiment_very_dissatisfied
        </span>
    </div>

{% endblock %}